header{
    font-family: arial;
    overflow: hidden;
}

main{
    font-family: helvetica;
}

nav.my-nav{
    background-color: #ffffff;
}

div.jumbo.top{
    padding-top: 10rem;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

h1.jumbo-sub-title{
    font-size: 2.5rem;
    font-weight: 600;
}

button.my-btn{
    background-color: #cc3c0f;
    border-color: #cc3c0f;
}

div.my-card{
    border-radius: 20px;
    overflow: hidden;
}

div.play-nolimits h1{
    font-weight: 500;
    font-size: 3rem;
}

div.hidden-border{
    border-bottom: 2px solid #2d64e6;
}

div.jumbo.bottom{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

section.my-new{
    background-color: #1f1f1f;
    padding-bottom: 3rem;
}

div.new-text>h2{
    font-size: 2.2rem;
    font-weight: 500;
}

div.new-text>p{
    font-size: 1.7rem;
    font-weight: 500;
    margin: 1.5rem 0 1rem;
}

img.new-games{
    border-radius: 20px;
}

p.new-games-text{
    font-size: 1.15rem;
}

section.ps-plus{
    background-color: #bebcbb;
}

img.plus-img{
    display: none;
}

a.plus-button{
    background-color: #d9dadc;
}

div.ps-store>h1{
    font-size: 2.6rem;
}

section.ps-now{
    background-color: #161c3b;
}

footer{
    background-color: #00439c;
}

i.w-icon{
    font-size: 1.3rem;
    margin-right: .5rem;
}




