div.jumbo.top{
    padding-top: 10rem;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

h1.jumbo-sub-title{
    font-size: 2.5rem;
    font-weight: 600;
}

button.my-btn{
    background-color: #cc3c0f;
    border-color: #cc3c0f;
}

div.my-card{
    border-radius: 20px;
    overflow: hidden;
}

div.play-nolimits h1{
    font-weight: 500;
    font-size: 3rem;
}

div.hidden-border{
    border-bottom: 2px solid #2d64e6;
}

div.jumbo.bottom{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}




